footer{
    background-color: gray;
    display: flex;
    padding-inline: 30px;
    padding-block: 30px;
    font-size: 20px;
    text-transform: capitalize;
    justify-content: space-between;
    color: white;

    .texto{

        .footer p{
            font-style: italic;
            font-size: 25px;
        }

        
        .pie__logo {
            width: 100px;
            height: auto;
        }


    }

    .linkred{
        display: flex;

        div{
            a{
                color: white;
                text-decoration: none;
                font-size: 35px;
                padding: 15px;
            }
            
            a:hover{
                color: rgb(93, 93, 93);
            }
        }
             p{
                font-style: italic;
                font-size: 25px;
             }
         }
    }

    .linkprop  {

            color: white;
            text-decoration: none;
            font-style: italic;

            &::selection{
                background-color: $secondaryColor;
                color: $mainColor;
                }
        }
        

        ul{


            li{
                text-decoration: none;
                font-style: italic;
            }

        }
       




  


   

