.colorEnc{
    background-color: gray;

    .container-fluid{

        .navbar-brand:nth-child(1) {
            background: rgb(93, 93, 93);
            border: 5px solid #000000;
            color: white;
            padding: 20px;
        }

    }
}


  
    
