@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;600;800&display=swap');

$fontBarlowCondensed: 'Barlow Condensed', sans-serif;


$mainColor: gray;
$secondaryColor: white;
